.App {
  text-align: center;
  border:3px solid red;
}
.sample{
  color: blueviolet;
  border: 3px solid rgb(13, 243, 29) ;
   margin: 40px;
   font-weight: bold;
}
.sample1{
  border: 5px solid rgb(238, 255, 0);
  color: chocolate;
  font-size: 56px;
  margin: 40px;
}
.formstyle{
 justify-content: center;
 background-color: black;
 align-items: center;
 display: flex;
 height: 500px;
}
.divForm input{
  width: 350px;
  height: 30px;
  margin:20px;
  
}
.submitBtn{
padding: 5px 10px;
}
.Datastyle{
  border: 2px solid blueviolet;
}

.Datastyle li{
  color: rgb(18, 156, 13);
  list-style: none;
  text-align: left;
 
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
